---
import { Image } from "astro:assets";
import calming from "../assets/images/calming.svg";
---

<div class="flex justify-end p-5">
  <div class="relative">
    <Image src={calming} alt="" width="200" />
    <p class="absolute -left-32 top-12">Skrifttype af Line Kofod Thomsen</p>
  </div>
</div>
