---
import Link from "../components/Link.astro";
---

<div>
  <nav class="flex justify-end p-5">
    <ul class="flex gap-5">
      <Link href="#tanken_bag">Tanken bag</Link>
      <Link href="#anvendelse">Anvendelse</Link>
    </ul>
  </nav>
</div>
